<div class="navigation">

    <a href="/">
        <i class="fa fa-home"></i>Events</a>
    <a href="/booking">
        <i class="fa fa-calendar"></i>Booking</a>
    <a href="/omos">
        <i class="fa fa-question"></i>Om os</a>
    <a href="/lokaler">
        <i class="fa fa-key"></i>Lej Lokaler</a>
    <a href="/kontakt">
        <i class="fa fa-phone"></i>Kontakt</a>
    <a href="/login">
        <i class="fa fa-user"></i>Login
    </a>

    <input class="søg" name="search" type="search" id="soge" placeholder="Søg...">

    <a href="">
        <i class="fa fa-facebook"></i>
    </a>
    <a href="">
        <i class="fa fa-twitter"></i>
    </a>
</div>