<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kulturhuset</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>


    <main>
        <div class="container">

            <h2>
                Lej Lokaler
            </h2>
            <img class="col-md-6 rykned2" src="images/kulturhus.jpg">

            <div class="col-md-6">
                <p class="omostekst">
                    I Kulturhuset har vi nogle af Københavns mest centrale lokaler til leje. Den store multisal med plads til 200 personer lejes
                    ud til konferencer, dans, fest og kulturarrangementer.

                    <p class="omostekst rykned">Book mødelokale til 25 og 50 personer og spil badminton, basketball, volley, floorball og lignende på
                        sportsbanerne, der er åbne for booking fra kl. 06.00 - 23.00 med selvbetjent adgang. Læs mere om
                        dine muligheder i selvbetjent åbningstid her.</p>
                </p>
            </div>

            <div class="col-md-4">
                <h3>Til Møder</h3>
                <img src="images/lokale.jpg" class="rykned3">

                <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard
                    fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en
                    bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fe</p>

                <p>
                    <b>Priser:</b> 650,- </p>

            </div>
            <div class="col-md-4">
                <h3>Til sport og bevægelse</h3>
                <img src="images/lokaler2.jpg" class="rykned3">
                <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard
                    fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en
                    bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fe</p>
                <p>
                    <b>Priser:</b>
                </p>
                <p>Sportsbane 1 og 2:
                    <br> Leje pr. time pr. bane 90 kr.
                    <br>
                    <br> Sportsbane 3:
                    <br> Sportsbane 3 er forbeholdt holdsport dvs. volleyball, basketball, floorball m.m.
                    <br> Holdsport pr. time: 200 kr.
                </p>

            </div>
            <div class="col-md-4">
                <h3>Til Fest</h3>
                <img src="images/lokaler1.jpg" class="rykned3">
                <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard
                    fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en
                    bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fe</p>

                <p>
                    <b>Priser:</b>
                </p>
                <p>Vedrørende pris, aftales nærmere ved at skrive til mail: Kulturhuset@kk.dk</p>

            </div>

        </div>

    </main>


    <!--................................Footer................................... -->
    <footer>
        <% include ../partials/footer %>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>