<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kulturhuset</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>


    <main>
        <div class="container">

            <h2>
                Om Kulturhuset
            </h2>
            <img class="col-md-6 rykned2" src="images/kulturhus.jpg">
            <img class="col-md-6 rykned2" src="images/kultur.jpg">

            <p class="omostekst">Besøg Kulturhuset Indre By midt i det skønne Nansensgadekvarter i hjertet af København. I den gamle sporvognsremise
                i det skønne Nansensgadekvarter tilbyder Kulturhuset Indre By alt fra kulturelle arrangementer for børn og
                voksne i alle aldre, til sportsbaner og mødelokaler.</p>

            <p class="omostekst">Følg med i vores arrangementer i vores eventkalender her på siden eller check ind på facebook.dk/kulturhusetindreby
                hvor informationer om os og vores arrangementer findes. </p>

            <p class="omostekst">
                Ønsker man, at spille badminton skal man booke en bane online. Du kan booke alle ledige tider i 31 dage frem. Man behøver
                ikke at være medlem af en sportsklub for at få lov til at spille. </p>

            <p class="omostekst">
                Følg vores guide til Online booking her eller gå direkte til online booking her. Kontakt os med idéer og spørgsmål på: Kiby@kff.kk.dk
                Vi glæder os til at byde jer velkommen i et af Københavns hyggeligste kulturhuse..</p>

        </div>

    </main>


    <!--................................Footer................................... -->
    <footer>
        <% include ../partials/footer %>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>